.idForm {
    width: 100%;
    height: calc(100vh * 0.6);
    display: grid;
    place-items: center;

    > div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 2rem;
        font-weight: normal;
        margin-bottom: 0.5rem;
    }

    input {
        background: #222;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        display: block;
        margin-bottom: 0.5rem;
    }

    select {
        background: #fff;
        font-size: 1.2rem;
        padding: 0.2rem 1rem;
        display: block;
        margin-bottom: 0.5rem;
        text-align: left;
        color: #000;
    }

    button {
        cursor: pointer;
        background-color: var(--color-theme-500);
        color: #fff;
        font-size: 1.2rem;
        border: 0;
        padding: 0.2rem 1rem;
    }
}

.resetContainer {
    position: absolute;
    top: 72px;
    left: 0;
    width: 100vw;
    display: grid;
    place-items: center;
    z-index: 100;

    > div {
        display: flex;
        gap: 1rem;
    }

    button {
        cursor: pointer;
        background-color: var(--color-theme-500);
        color: #fff;
        font-size: 1.2rem;
        border: 0;
        padding: 0.2rem 1rem;
    }
}

.turnControls {
    position: absolute;
    right: 0;
    top: 72px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    padding: 0 1rem;

    .turn {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        margin-right: 1rem;
        width: 150px;

        p {
            text-align: center;
            font-size: 2rem;
            margin: 0;
        }

        p.point {
            text-decoration: underline;
        }

        button {
            cursor: pointer;
            background-color: var(--color-theme-500);
            color: #fff;
            font-size: 1.2rem;
            border: 0;
            padding: 0.2rem 1rem;
        }
    }

    .auto {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;

        > div {
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;

            button {
                cursor: pointer;
                background-color: #fff;
                color: #000;
                font-size: 1.2rem;
                border: 0;
                padding: 0.2rem 1rem;
            }
        }

        > button {
            cursor: pointer;
            background-color: var(--color-theme-500);
            color: #fff;
            font-size: 1.2rem;
            border: 0;
            padding: 0.2rem 1rem;
            width: 330px;
        }
    }
}

.scores {
    position: absolute;
    top: 72px;
    left: 1rem;
    border: 1px solid white;
    z-index: 100;
    background-color: #222;

    > div {
        height: 1.5rem;
        display: flex;

        span {
            height: 100%;
            display: grid;
            place-items: center;
            border: 1px solid white;
            font-size: 0.8rem;
        }
    }

    .stars {
        width: 4rem;
    }

    .username {
        width: 8rem;
    }

    .army {
        width: 4rem;
    }

    .land {
        width: 4rem;
    }
}
